examples/
node_modules
review
**/build
**/dist
**/lib
**/node_modules
**/static
**/typings
**/types
coverage
*.map.js
*.bundle.js
*.config.js
.eslintrc.js
docs/source/api

# jetbrains IDE stuff
.idea/

# ms IDE stuff
.history/
.vscode/

# CI stuff
pw-browsers/
