*.suo
*.user
.DS_Store
dist
lib
types
node_modules
build
review/api/temp
*.tsbuildinfo

# copied changelog file
docs/source/changelog.md

# generated api files
packages/algorithm/docs/
packages/application/docs/
packages/collections/docs/
packages/commands/docs/
packages/coreutils/docs/
packages/datagrid/docs/
packages/datastore/docs/
packages/disposable/docs/
packages/domutils/docs/
packages/dragdrop/docs/
packages/keyboard/docs/
packages/messaging/docs/
packages/polling/docs/
packages/properties/docs/
packages/signaling/docs/
packages/virtualdom/docs/
packages/widgets/docs/

# generated example files
docs/source/examples

# jetbrains ide stuff
*.iml
.idea/

# ms ide stuff
*.code-workspace
.history
.vscode

.jupyter_releaser_checkout
.eslintcache
